body {
background-color: cebaba;
}
#header {
    background-color: #333333;
    height: 400px;
    width: 1000px;
    border: 1px black ;
    padding: 25px;
    margin: 25px;
    
}

#logo { 
 color: white;
float: left;
margin:20px; 
background: white;
text-color: black;
height:50px; 
width:80px; 
}


#contact {
 color: white;
float: right;
margin: 20px;
position: apsolute;
right: 20px;

}

#item2 {
 color: white;
float: left;
margin: 20px;

}

#item3 {
 color: white;
float: left;
margin: 20px;
}

#item4 {
 color: white;
float: left;
margin: 20px;
}

#item5 {
 color: white;
float: left;
margin: 20px;
}

#item6 {
 color: white;
float:left;
margin: 20px;
}

#Short { 
color: White ;
float:left;
margin: 50px;
}


#main {
background-color: #ffffff;
    width: 1000px;
    border: 1px black ;
    padding: 25px;
    margin: 25px;
}

#client { 
background-color: #cccccc ;
width: 1000px;
    border: 1px black ;
    padding: 25px;
    margin: 25px;
}



